[submodule "module/entt"]
	path = module/entt
	url = https://github.com/skypjack/entt.git
[submodule "module/model-worker"]
	path = module/model-worker
	url = https://github.com/sb-baifeng-sb/model-worker.git
[submodule "module/tmxlite"]
	path = module/tmxlite
	url = https://github.com/fallahn/tmxlite.git
